# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia

some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. Tensorflow

| Column 1 | 
|:--------:|
|  Row 1   | 
|  Row 2   |  
|  Row 3   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# **Objectives:**
List popular languages for Data Science:
<ul>
<li>Python</li>
<li>R</li>
<li>Julia</li>
<li>Java</li>
<ul>

## Author
name